.ant-dropdown-menu.ant-dropdown-menu-root {
	background: rgb(77, 151, 255);
    min-width: 180px;
}

.ant-dropdown-menu.ant-dropdown-menu-root .ant-dropdown-menu-title-content {
	color: #fff;
	font-weight: 500;
}

.ant-dropdown-menu.ant-dropdown-menu-root .ant-dropdown-menu-item:hover {
	background: rgba(0, 0, 0, 0.175);
}

.profile-dropdown {
}